@import '../_MainMixins.scss';

/***********************************************
				WRAPPER
***********************************************/

.artists-list{
	color: $white !important;
	padding-top: 25vh;

	h1{
		background: url(./../img/home/hands-light.jpg) repeat;
		border: 2px solid green;
		text-align: center;
		height: 50vh;
	}
	.single-artist{
		border-radius: 3px;
		margin: 20px;
		padding: 10px;
		text-align: justify;
		.border-content{
		border-top: 1px solid $green;
		}
		a{
			color: $white;
			&:hover{
				color: $green;
				text-decoration: none;
			}
		}
	}

}