@import '../partials/_mixins';
@import '../partials/_general';
@import '../partials/_navbar';


/***********************************************
				GENERAL
***********************************************/
body{
	background-color: $black;
	font-family: 'Futura Bk BT', Helvetica, Arial, sans serif;
}
	
/***********************************************
				MENU
***********************************************/
.menu{
	padding-top: $mh;
	.articles{
		background: url(../../../img/home/hands-light.jpg);
		background-size: 100% !important;
		@extend %menu_properties;
	}
	.artists{
		background: url(../../../img/home/face.jpg);
		background-size: 100% !important;
		@extend %menu_properties;
	}
	.festivals{
		background: url(../../../img/home/firework.jpg);
		background-size: 100% !important;
		@extend %menu_properties;
	}
	.line-menu{
		background-color: $white;
		height: 2px;
		width: 50px;
	}
	a{ 
		color: $white !important;
		&:hover{
			color: $green !important;
			text-decoration: none !important;
		}
	}
	.menu-link{
		padding-top: 30vh;
		padding-left: 1.7vw;
	}
}

/***********************************************
				LATEST NEWS
***********************************************/
.latest-news{
	margin-top: 70px;
	h2{
		border-bottom: 1px solid #ccc;
		color: $white; 
		font-size: 1.2 rem;
	}
	h3 {
		font-size: 2rem;
	}
	a{ 
		color: $white !important;  
		&:hover{
			color: $green !important;
			text-decoration: none !important; 
		}
	}
	p, .nextContent{
		color: $white;
		font-family: 'Futura Lt BT';
	}
	.border-content{
		border-top: 1px solid $green;
	}
	.comments a{
		font-size: 0.9rem;
	}

}

/***********************************************
				FOOTER
***********************************************/

.home-footer{
	color: $white;
	h4{
		border-bottom: 1px solid #ccc;
		color: $white; 
		font-size: 1.2 rem;
	}
	form{
		input{
			border:0; 
			background-color: #000; 
			border: 1px solid #fff;
			color: #fff;
			height: 8vh;
			margin-bottom: 15px;
			padding: 10px;
			width: 20vw;
		}
		textarea{
			background-color: #000;  
			border: 0; 
			border:1px solid #fff;
			color: #fff;
			padding: 10px;
		}
		button{
			border: 0; 
			background-color: #fff; 
			color:#000;
			font-size: 1.3rem;
		}
	}
	.copyright{
		font-size: .8rem;
		letter-spacing: 1px;
		a{
			color: $white;
			&:hover{
				color: $green;
				text-decoration: none;
			}
		}
	}
}