/**********  EXTENDS **********/
%wrapper_page{
    background-color: $white;
}
%page_detail{
    margin-top: 25vh;
    padding-top: 10vh;
}
%admin_avatar{
    height: 25px;
    width: 25px;
}
%admin_crown{
    height: 13px;
    width: 13px;
}
